dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chi.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
*.pdf
*.yaml
readline-1.0.3.0/
.DS_Store
.vim/
*.swp
